---
layout: default
title: Bhakti Yoga - UVa
---


<h1>Recent Talks</h1>

<p>Every week we gather together for kirtan meditation, a discussion on the Bhakti Yoga philosophy and a delicious vegetarian feast!</p>

<p>Interested to learn more? Email us at bhakti@bhaktivedantacenter.com to get on the mailing list and find out when our next program is.</p>


<ul class="posts">
    {% for post in site.tags.sunday limit:5 %}
    	{% include postHeader.html post=post %}
    	<div class="post">
			{{ post.content }}
		</div>
    {% endfor %}
</ul>
