---
layout: default
title: Bhakti Yoga - UVa
---


<h1>Recent Sunday Programs</h1>

<p>Most every sunday we gather together to have kirtan, meditate, discuss the Bhakti philosophy and demonstrate how awesome vegetarian cooking can be (woo feasts!).</p>

<p>Interested? Email <a href="mailto:pg9j@virginia.edu">Priya</a> or <a href="mailto:as2tw@virginia.edu">Abeer</a> to get on the mailing list and find out when our next program is.</p>


<ul class="posts">
    {% for post in site.tags.sunday limit:5 %}
    	{% include postHeader.html post=post %}
    	<div class="post">
			{{ post.content }}
		</div>
    {% endfor %}
</ul>
