---
layout: default
title: Bhakti Yoga - UVa
---


<h1>Recent Events</h1>

<p>Every week we gather together for a kirtan meditation session, a discussion on the Bhakti Yoga philosophy and a delicious vegetarian feast. We are often visited by distinguished speakers who enlighten us on diverse subjects from the Bhakti perspective.</p>

<p>Scroll down to find recordings of our weekly kirtan meditations and talks. Interested to learn more? Email us at bhakti@bhaktivedantacenter.com; get on the mailing list and find out when our next program is.</p>


<ul class="posts">
    {% for post in site.tags.sunday limit:5 %}
    	{% include postHeader.html post=post %}
    	<div class="post">
			{{ post.content }}
		</div>
    {% endfor %}
</ul>
